@font-face {
    font-family: 'M';
    src: url(./fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'm';
    src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'R';
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'EM';
    src: url(./fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}