@font-face {
  font-family: 'M';
  src: url(./fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'm';
  src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'R';
  src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: 'EM';
  src: url(./fonts/Montserrat/static/Montserrat-ExtraBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.header {
  width: 1440px;
  margin: auto;
  background-image: url(./image/Bitmap.png);
  height: 700px;
}

.header__up {
  width: 901px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-left: 249px;
}

.header__logo {
  height: 24px;
  width: 152px;
  font-family: 'M';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 46px;
}

.header__visit {
  width: 160px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-right: 18px;
}

.header__sign {
  font-family: 'm';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  height: 17px;
  width: 55px;
  color: #FFFFFF;
}

.header__sign:hover {
  border: #FFFFFF 2px solid;
  border-radius: 40px;
  width: 90px;
  height: 36px;
  margin-top: -10px;
  margin-right: -17px;
  text-align: center;
  padding-top: 8px;
}

.header__login {
  height: 17px;
  width: 44px;
  font-family: 'm';
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: 24px;
}

.header__login:hover {
  border: #FFFFFF 2px solid;
  border-radius: 40px;
  width: 90px;
  height: 36px;
  margin-top: -10px;
  margin-right: -17px;
  text-align: center;
  padding-top: 8px;
  margin-left: 0;
}

.header__main {
  width: 470px;
  height: 179.5px;
  margin: auto;
  margin-top: 137.5px;
}

.header__name-main {
  width: 470px;
  height: 126px;
  font-family: 'EM';
  font-size: 51px;
  font-weight: 700;
  line-height: 63px;
  text-align: center;
  color: #FFFFFF;
}

.header__text-main {
  margin: 28.5px auto 0;
  height: 25px;
  width: 396px;
  font-family: 'R';
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.header__down {
  height: 40px;
  width: 225px;
  border-radius: 40px;
  background-color: #FF4E50;
  margin: 33px auto 0;
  padding-top: 12px;
}

.header__button {
  color: #FFFFFF;
  height: 17px;
  width: 185px;
  margin: auto;
  font-family: 'M';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 769px) {
  .header {
    height: 700px;
    width: 768px;
    background-image: url(./image/Background.png);
    margin: auto;
  }
  .header__name-main {
    width: 470px;
    letter-spacing: 0.3px;
  }
  .header__up {
    width: 670px;
    margin-left: 48px;
  }
  .header__logo {
    margin-top: 46px;
    letter-spacing: 0.3px;
  }
  .header__login {
    margin-left: 25px;
  }
  .header__login:hover {
    margin-left: 2px;
  }
  .header__sign {
    margin-right: -1px;
  }
  .header__sign:hover {
    margin-right: -18px;
  }
  .header__text-main {
    margin: 27.5px auto 0;
  }
  .header__button {
    margin-left: 20px;
    letter-spacing: 0.4px;
    width: 188px;
  }
}

@media screen and (max-width: 321px) {
  .header {
    width: 320px;
    height: 541px;
    background-image: url(./image/Background2.png);
    margin-left: 10px;
  }
  .header__up {
    width: 153px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 83px;
  }
  .header__logo {
    height: 24px;
    margin-top: 87px;
    margin-left: 3px;
    letter-spacing: 0.3px;
  }
  .header__visit {
    width: 153px;
    height: 36px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .header__sign {
    margin-right: 26px;
  }
  .header__login {
    margin-left: -9px;
  }
  .header__sign:hover {
    margin-right: 9px;
  }
  .header__login:hover {
    margin-left: -33px;
  }
  .header__main {
    width: 273px;
    height: 128.5px;
    margin-top: 26.5px;
  }
  .header__name-main {
    height: 74px;
    width: 276px;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.1px;
    margin-left: -1px;
  }
  .header__text-main {
    margin: 5.5px auto 0;
    width: 272px;
    height: 49px;
    font-size: 18px;
    line-height: 25px;
  }
  .header__down {
    width: 280px;
    margin: 15px auto 0;
  }
  .header__button {
    width: 188px;
    margin-left: 47px;
    text-align: center;
    letter-spacing: 0.4px;
  }
}

.footer {
  width: 1440px;
  border-top: 2px solid #FF4E50;
  margin: 100px auto 0;
  height: 244px;
}

.footer__main {
  width: 944px;
  margin: 37px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 119px;
  height: 20px;
  font-family: 'm';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  margin-right: 122px;
  margin-left: 1px;
}

.footer__menu1 {
  height: 184px;
  width: 114px;
  margin-top: 1px;
  margin-right: 125px;
}

.footer__menu1-h1 {
  width: 70px;
  height: 17px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  letter-spacing: 0.3px;
}

.footer__menu1-ul {
  width: 114px;
  height: 156px;
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu1-link {
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__h1-number2 {
  width: 64px;
  height: 17px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-top: 1px;
  letter-spacing: 0.3px;
}

.footer__des {
  width: 110px;
  height: 45px;
  margin-left: 287px;
}

.footer__h1-number3 {
  height: 12px;
  width: 84px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.1px;
  color: #CCCCCC;
  margin-left: 30px;
  margin-top: 1px;
  margin-bottom: 7px;
}

@media screen and (max-width: 769px) {
  .footer {
    width: 768px;
  }
  .footer__main {
    width: 692px;
    margin: 38px auto 0;
  }
  .footer__logo {
    margin-right: 108px;
    margin-top: -1px;
  }
  .footer__menu1 {
    margin-right: 56px;
  }
  .footer__h1-number3 {
    margin-bottom: 6px;
  }
  .footer__des {
    margin-left: 118px;
  }
}

.main {
  width: 940px;
  margin: auto;
}

.main__part1 {
  width: 940px;
  height: 461px;
  margin: auto;
}

.main__tittle {
  width: 342px;
  height: 32px;
  margin: auto;
  font-family: 'M';
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  color: #444444;
  text-align: center;
  margin-top: 89px;
  letter-spacing: 0.7px;
}

.main__block-foto {
  width: 940px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  margin-top: 35px;
}

.main__block-foto1-1 {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__block-foto1-2 {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step2.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__block-foto1-3 {
  width: 300px;
  height: 400px;
  background-image: url(./image/Step3.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__button1 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border-radius: 40px;
  margin-left: 25px;
  padding-top: 6px;
}

.main__button2 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border-radius: 40px;
  margin-left: 25px;
  padding-top: 6px;
}

.main__button3 {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border-radius: 40px;
  margin-left: 25px;
  padding-top: 6px;
}

.main__button1-1 {
  font-family: 'm';
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  height: 12px;
  width: 44px;
  margin-left: 14px;
  color: #FFFFFF;
}

.main__button1-2 {
  font-family: 'm';
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  height: 12px;
  width: 46px;
  margin-left: 12px;
  color: #FFFFFF;
}

.main__button1-3 {
  font-family: 'm';
  font-size: 10px;
  font-weight: 400;
  padding-top: 0px;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;
  height: 12px;
  width: 46px;
  margin-left: 12px;
  color: #FFFFFF;
}

.main__block1-tittle {
  margin-left: 25px;
  height: 58px;
  width: 185px;
  margin-top: 15px;
  font-family: 'M';
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  padding-top: 7px;
}

.main__block1-text {
  width: 250px;
  height: 43px;
  margin-top: 24px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 21px;
  margin-left: 25px;
  padding-top: 1px;
}

.main__block2-tittle {
  margin-left: 25px;
  height: 58px;
  width: 200px;
  margin-top: -16px;
  font-family: 'M';
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 40px;
  letter-spacing: 0.7px;
  padding-top: 40px;
}

.main__block2-text {
  height: 43px;
  margin-top: 24px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #FFFFFF;
  text-align: left;
  width: 250px;
  margin-bottom: 21px;
  margin-left: 25px;
  padding-top: 1px;
}

.main__block3-tittle {
  margin-left: 25px;
  height: 58px;
  width: 185px;
  margin-top: 15px;
  font-family: 'M';
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  padding-top: 7px;
}

.main__block3-text {
  width: 250px;
  height: 43px;
  margin-top: 24px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 21px;
  margin-left: 25px;
  padding-top: 1px;
}

.main__part2 {
  height: 361px;
  width: 941px;
  margin: auto;
  margin-top: 95px;
}

.main__tittle2-1 {
  font-family: 'M';
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  margin: auto;
  width: 491px;
  height: 32px;
  letter-spacing: 0.7px;
}

.main__block-foto-part2 {
  width: 941px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.main__bl1 {
  width: 221px;
  height: 205px;
}

.main__bl2 {
  width: 221px;
  height: 205px;
}

.main__bl3 {
  width: 221px;
  height: 205px;
}

.main__bl4 {
  width: 221px;
  height: 205px;
}

.main__block-icons1-part2 {
  width: 32px;
  height: 32px;
  background-color: #FF4E50;
  top: -32px;
  border-radius: 40px;
  position: relative;
  left: 139px;
  padding-left: 8px;
  padding-top: 6px;
  margin-bottom: -14px;
}

.main__name1-part2 {
  width: 221px;
  height: 18px;
  font-family: 'M';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 21px;
}

.main__text1-part2 {
  height: 28px;
  width: 221px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}

.main__block-icons2-part2 {
  width: 32px;
  height: 32px;
  background-color: #19D4CA;
  top: -32px;
  border-radius: 40px;
  position: relative;
  left: 139px;
  padding-left: 8px;
  padding-top: 6px;
  margin-bottom: -14px;
}

.main__name2-part2 {
  width: 221px;
  height: 18px;
  font-family: 'M';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 21px;
}

.main__text2-part2 {
  height: 28px;
  width: 221px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}

.main__block-icons3-part2 {
  width: 32px;
  height: 32px;
  background-color: #FFA710;
  top: -32px;
  border-radius: 40px;
  position: relative;
  left: 139px;
  padding-left: 8px;
  padding-top: 5px;
  margin-bottom: -14px;
}

.main__name3-part2 {
  width: 221px;
  height: 18px;
  font-family: 'M';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 26px;
}

.main__text3-part2 {
  height: 47px;
  width: 230px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}

.main__block-icons4-part2 {
  width: 32px;
  height: 32px;
  background-color: #667DF3;
  top: -32px;
  border-radius: 40px;
  position: relative;
  left: 139px;
  padding-left: 6px;
  padding-top: 4px;
  margin-bottom: -14px;
}

.main__name4-part2 {
  width: 221px;
  height: 18px;
  font-family: 'M';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 26px;
}

.main__text4-part2 {
  height: 47px;
  width: 221px;
  font-family: 'R';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}

.main__button-part2 {
  width: 180px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  margin: 55px auto 0;
  border-radius: 40px;
  padding-top: 10px;
  padding-left: 22px;
}

.main__text-button-part2 {
  width: 137px;
  height: 17px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  text-align: center;
  letter-spacing: 0.3px;
}

.main__part3 {
  width: 940px;
  margin: auto;
  margin-top: 95px;
}

.main__tittle-part3 {
  width: 413px;
  height: 32px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: auto;
  letter-spacing: 0.8px;
}

.main__main-block-fotos-part3 {
  width: 940px;
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.main__block1-part3 {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__foto1-part3 {
  width: 300px;
  height: 310px;
  background-image: url(./image/Running.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text1-foto1-part3 {
  margin-top: 142px;
  height: 27px;
  width: 300px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
}

.main__foto2-part3 {
  width: 300px;
  height: 310px;
  background-image: url(./image/Rest.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text2-foto2-part3 {
  width: 301px;
  height: 27px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  margin-top: 142px;
}

.main__foto3-part3 {
  width: 300px;
  height: 310px;
  background-image: url(./image/Extreme.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text3-foto3-part3 {
  width: 187px;
  height: 54px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  margin-top: 128px;
  margin-left: 57px;
}

.main__foto4-part3 {
  width: 300px;
  height: 310px;
  background-image: url(./image/Games.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text4-foto4-part3 {
  width: 300px;
  height: 27px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  margin-top: 142px;
}

.main__foto5-part3 {
  width: 620px;
  height: 310px;
  background-image: url(./image/Culture.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text5-foto5-part3 {
  width: 622px;
  height: 27px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  margin-top: 142px;
}

.main__foto6-part3 {
  width: 620px;
  height: 310px;
  background-image: url(./image/Relaxing.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text6-foto6-part3 {
  width: 621px;
  height: 27px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  margin-top: 147px;
}

.main__foto7-part3 {
  width: 300px;
  height: 310px;
  background-image: url(./image/Mountain.png);
  border-radius: 4px;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 310px 4px rgba(0, 0, 0, 0.25) inset;
}

.main__text7-foto7-part3 {
  width: 300px;
  height: 27px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.6px;
  margin-top: 142px;
}

.main__part4 {
  width: 482px;
  margin: 89px auto 0;
}

.main__tittle-part4 {
  width: 359px;
  height: 32px;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  letter-spacing: 0.8px;
  margin-left: 61px;
}

.main__tittle2-part4 {
  width: 415px;
  height: 24px;
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin-top: 54px;
  color: #666666;
  margin-left: 34px;
}

.main__form-part4 {
  width: 480px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.main__input-search-part4 {
  width: 281.37px;
  padding-top: 6px;
  height: 31px;
  padding-left: 13.63px;
  margin-left: -1px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  border: 1px solid #D4D4D4;
}

.main__input-search-part4::-webkit-input-placeholder {
  color: #999999;
  width: 127px;
  height: 20px;
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main__input-search-part4:-ms-input-placeholder {
  color: #999999;
  width: 127px;
  height: 20px;
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main__input-search-part4::-ms-input-placeholder {
  color: #999999;
  width: 127px;
  height: 20px;
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main__input-search-part4::placeholder {
  color: #999999;
  width: 127px;
  height: 20px;
  font-family: 'R';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.main__input-submit-part4 {
  width: 172.12px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  border: 0;
  color: #FFFFFF;
  font-family: 'M';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding-top: 3px;
  line-height: 17px;
  letter-spacing: 0.4px;
  padding-left: 10px;
}

@media screen and (max-width: 769px) {
  .main {
    width: 748px;
  }
  .main__part4 {
    margin: 94px auto 0;
  }
  .main__tittle-part4 {
    width: 306px;
    height: 27px;
    font-size: 22px;
    letter-spacing: 0.7px;
    line-height: 27px;
    margin-left: 89px;
  }
  .main__tittle2-part4 {
    margin-left: 35px;
  }
  .main__input-search-part4 {
    margin-left: 0;
  }
  .main__input-submit-part4 {
    padding-left: 13px;
  }
  .main__part3 {
    width: 748px;
  }
  .main__tittle-part3 {
    width: 350px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.7px;
  }
  .main__main-block-fotos-parts3 {
    width: 748px;
  }
  .main__block1-part3 {
    width: 748px;
  }
  .main__foto1-part3 {
    width: 236px;
    background-image: url(./image/Running-md.png);
  }
  .main__text1-foto1-part3 {
    height: 54px;
    margin-top: 115px;
    width: 206px;
    margin-left: 15px;
  }
  .main__foto2-part3 {
    width: 236px;
    background-image: url(./image/Rest-md.png);
  }
  .main__text2-foto2-part3 {
    height: 54px;
    margin-top: 128px;
    width: 206px;
    margin-left: 15px;
  }
  .main__foto3-part3 {
    width: 236px;
    background-image: url(./image/Extreme-md.png);
  }
  .main__text3-foto3-part3 {
    height: 54px;
    margin-top: 128px;
    width: 206px;
    margin-left: 15px;
  }
  .main__foto4-part3 {
    width: 236px;
    background-image: url(./image/Games-md.png);
  }
  .main__text4-foto4-part3 {
    height: 54px;
    margin-top: 143px;
    width: 206px;
    margin-left: 15px;
  }
  .main__foto5-part3 {
    width: 492px;
    background-image: url(./image/Culture-md.png);
  }
  .main__text5-foto5-part3 {
    height: 54px;
    margin-top: 142px;
    width: 262px;
    margin-left: 116px;
    letter-spacing: 0.5px;
  }
  .main__foto6-part3 {
    width: 492px;
    background-image: url(./image/Relaxing-md.png);
  }
  .main__text6-foto6-part3 {
    height: 54px;
    margin-top: 142px;
    width: 277px;
    margin-left: 108px;
    letter-spacing: 0.5px;
  }
  .main__foto7-part3 {
    width: 236px;
    background-image: url(./image/Mountain-md.png);
  }
  .main__text7-foto7-part3 {
    height: 54px;
    margin-top: 142px;
    width: 206px;
    margin-left: 15px;
    letter-spacing: 0.5px;
  }
  .main__part2 {
    height: 605px;
    width: 498px;
  }
  .main__tittle2-1 {
    font-size: 22px;
    line-height: 27px;
    width: 425px;
    height: 27px;
    letter-spacing: 0.6px;
    margin-left: 41px;
  }
  .main__block-foto-part2 {
    width: 492px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 35px auto 0;
  }
  .main__bl1 {
    width: 236px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__bl2 {
    width: 236px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 54px;
    margin-left: 0px;
  }
  .main__bl3 {
    width: 236px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0px;
    margin-top: 0px;
  }
  .main__bl4 {
    width: 236px;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 54px;
    margin-right: 0px;
  }
  .main__block-icons1-part2 {
    left: 146px;
  }
  .main__name1-part2 {
    width: 237px;
  }
  .main__text1-part2 {
    width: 236px;
  }
  .main__block-icons2-part2 {
    left: 146px;
  }
  .main__name2-part2 {
    width: 236px;
  }
  .main__text2-part2 {
    width: 236px;
  }
  .main__block-icons3-part2 {
    left: 146px;
  }
  .main__name3-part2 {
    width: 236px;
  }
  .main__text3-part2 {
    width: 236px;
  }
  .main__block-icons4-part2 {
    left: 146px;
  }
  .main__name4-part2 {
    width: 236px;
    margin-bottom: 21px;
  }
  .main__text4-part2 {
    width: 236px;
  }
  .main__button-part2 {
    margin: 40px auto 0;
  }
  .main__part1 {
    width: 748px;
    margin-left: -4px;
  }
  .main__tittle {
    width: 293px;
    height: 27px;
    font-size: 22px;
    line-height: 27px;
    margin-top: 94px;
    letter-spacing: 0.6px;
    margin-left: 232px;
  }
  .main__block-foto {
    width: 748px;
    margin-left: 4px;
  }
  .main__block-foto1-1 {
    width: 236px;
    background-image: url(./image/Step1-2.png);
  }
  .main__block-foto1-2 {
    width: 236px;
    background-image: url(./image/Step1-2-1.png);
  }
  .main__block-foto1-3 {
    width: 236px;
    background-image: url(./image/Step1-3.png);
  }
  .main__button1 {
    margin-left: 20px;
    padding-top: 5px;
  }
  .main__block1-tittle {
    margin-left: 20px;
    height: 41px;
    width: 196px;
    margin-top: 32px;
    line-height: 14px;
    padding-top: 14px;
  }
  .main__block1-text {
    width: 196px;
    height: 57px;
    margin-top: 29px;
    margin-bottom: 16px;
    margin-left: 20px;
  }
  .main__button2 {
    margin-left: 20px;
  }
  .main__block2-tittle {
    margin-left: 20px;
    height: 29px;
    width: 136px;
    margin-top: 5px;
    line-height: 14px;
    padding-top: 11px;
  }
  .main__block2-text {
    height: 46px;
    width: 178px;
    margin-left: 20px;
    padding-top: 9px;
  }
  .main__button3 {
    margin-left: 20px;
    padding-top: 0px;
  }
  .main__button1-3 {
    padding-top: 6px;
    line-height: 11px;
  }
  .main__block3-tittle {
    margin-left: 21px;
    margin-top: 28px;
    line-height: 14px;
    padding-top: 17px;
  }
  .main__block3-text {
    width: 186px;
    height: 53px;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 2px;
  }
}

@media screen and (max-width: 321px) {
  .footer {
    width: 320px;
    margin: 41px auto 0;
    height: 204px;
  }
  .footer__main {
    width: 320px;
    margin: 20px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin: -1px auto 12px;
  }
  .footer__menu1 {
    height: 70px;
    width: 188px;
    margin: 0px auto 0px;
  }
  .footer__menu1-h1 {
    margin: auto;
  }
  .footer__menu1-ul {
    width: 188px;
    height: 52px;
    margin-top: 2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__menu1-link-l1 {
    margin-left: 16px;
    line-height: 24px;
  }
  .footer__menu1-link-l2 {
    margin-right: 16px;
    line-height: 23px;
  }
  .footer__h1-number2 {
    margin: 6px auto 0;
  }
  .footer__des {
    margin: 21px auto 0;
  }
  .footer__h1-number3 {
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: 6px;
  }
  .main {
    width: 300px;
  }
  .main__part4 {
    width: 280px;
    margin: 35px auto 0;
  }
  .main__tittle-part4 {
    width: 280px;
    height: 54px;
    margin-left: 0px;
    letter-spacing: 0.6px;
  }
  .main__tittle2-part4 {
    width: 280px;
    margin-top: 20px;
    margin-left: 1px;
  }
  .main__form-part4 {
    width: 280px;
    height: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4px;
  }
  .main__input-search-part4 {
    width: 262.37px;
  }
  .main__input-submit-part4 {
    padding-left: 17px;
    width: 280.12px;
  }
  .main__part3 {
    width: 300px;
    margin-top: 54px;
  }
  .main__tittle-part3 {
    width: 280px;
    height: 54px;
  }
  .main__main-block-fotos-part3 {
    width: 300px;
    height: 900px;
    margin-top: 33px;
  }
  .main__block1-part3 {
    width: 300px;
    height: 380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__foto1-part3 {
    width: 300px;
    margin-top: 0px;
    height: 120px;
    background-image: url(./image/Running-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text1-foto1-part3 {
    margin-top: 20px;
    margin-left: 47px;
  }
  .main__foto2-part3 {
    width: 300px;
    margin-top: 10px;
    height: 120px;
    background-image: url(./image/Rest-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text2-foto2-part3 {
    margin-top: 33px;
    margin-left: 47px;
  }
  .main__foto3-part3 {
    width: 300px;
    margin-top: 10px;
    height: 120px;
    background-image: url(./image/Extreme-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text3-foto3-part3 {
    margin-top: 33px;
    margin-left: 47px;
  }
  .main__foto4-part3 {
    width: 300px;
    margin-top: 10px;
    height: 120px;
    background-image: url(./image/Games-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text4-foto4-part3 {
    margin-top: 47px;
    margin-left: 47px;
  }
  .main__foto5-part3 {
    width: 300px;
    margin-top: 10px;
    height: 120px;
    background-image: url(./image/Culture-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text5-foto5-part3 {
    margin-top: 47px;
    width: 260px;
    margin-left: 21px;
  }
  .main__foto6-part3 {
    width: 300px;
    margin-top: 10px;
    height: 120px;
    background-image: url(./image/Relaxing-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text6-foto6-part3 {
    margin-top: 47px;
    margin-left: 12px;
  }
  .main__foto7-part3 {
    margin-top: 10px;
    width: 300px;
    height: 120px;
    background-image: url(./image/Mountain-l.png);
    -webkit-box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 120px 4px rgba(0, 0, 0, 0.25) inset;
  }
  .main__text7-foto7-part3 {
    margin-top: 47px;
    margin-left: 47px;
  }
  .main__part1 {
    width: 300px;
    height: 781px;
    margin-left: 0;
  }
  .main__tittle {
    margin-top: 33px;
    letter-spacing: 0.6px;
    margin-left: 5px;
    width: 291px;
  }
  .main__block-foto {
    width: 300px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    height: 740px;
  }
  .main__block-foto1-1 {
    width: 300px;
    height: 240px;
    background-image: url(./image/Step1-2-1-1.png);
  }
  .main__block-foto1-2 {
    width: 300px;
    height: 240px;
    background-image: url(./image/Step1-2-2.png);
  }
  .main__block-foto1-3 {
    width: 300px;
    height: 240px;
    background-image: url(./image/Step1-3-3.png);
  }
  .main__button1 {
    margin-left: 20px;
    padding-top: 6px;
  }
  .main__button1-1 {
    line-height: 11px;
  }
  .main__block1-tittle {
    height: 32px;
    width: 171px;
    margin-top: 36px;
    line-height: 13px;
    letter-spacing: 0.5px;
    padding-top: 11px;
  }
  .main__block1-text {
    width: 250px;
    height: 43px;
  }
  .main__button2 {
    margin-left: 20px;
  }
  .main__button1-2 {
    line-height: 11px;
  }
  .main__block2-tittle {
    width: 200px;
    padding-top: 24px;
  }
  .main__block2-text {
    width: 247px;
  }
  .main__button3 {
    margin-left: 20px;
    padding-top: 0px;
  }
  .main__block3-tittle {
    margin-top: 9px;
    padding-top: 37px;
  }
  .main__block3-text {
    width: 250px;
    padding-top: 16px;
  }
  .main__part2 {
    height: 1012px;
    width: 300px;
    margin-top: 37px;
  }
  .main__tittle2-1 {
    margin: auto;
    height: 54px;
    width: 280px;
    left: 10px;
    letter-spacing: 0.7px;
    text-align: center;
  }
  .main__block-foto-part2 {
    width: 236px;
    margin: 14px auto 0;
  }
  .main__bl2 {
    margin-top: 35px;
  }
  .main__bl3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 16px;
    margin-right: -3px;
  }
  .main__bl4 {
    margin-top: 16px;
    margin-right: -3px;
  }
  .main__block-icons1-part2 {
    margin-bottom: -14x;
  }
  .main__button-part2 {
    margin: 36px auto 0;
    padding-left: 72px;
    width: 280px;
  }
}
/*# sourceMappingURL=main.css.map */